nav > ul{
    display: flex;
    justify-content: flex-end;
    background-color: white;
    list-style-type: none;
}

li{
    margin: 0.75rem;
}

#imgpr{
    display: block;
    margin: 135px auto auto auto;
}

#searchbar{
    display: block;
    margin: 30px auto auto auto;
    padding-bottom: 1.5em;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(82, 78, 78);
}

.listimg{
    display: flex;
    justify-content: center;
    background-color: white;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

.foot{
    display: flex;
    justify-content: left;
    background-color: rgb(207, 207, 207);
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 50%;
    margin-bottom: 0px;
}

.foot1{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(207, 207, 207);
    position: fixed;
    left: 50%;
    bottom: 0px;
    height: 50px;
    width: 48%;
    margin-bottom: 0px;
}
